<div class="row panel">
    <img data-ng-src="{{alias.image}}" class="jm-alias-img" />
    <h1 class="text-center">{{alias.name}}</h1>

</div>
<div class="row panel">
    <div class="container">
        <h2 class="text-center">Public Journeys</h2>
        <ul class="list-group">
            <li data-ng-repeat="journey in alias.journeys" data-ng-if="journey.isPublic" class="list-group-item">
                <data-jm-journey-list-item data-jm-journey="{{journey}}"></data-jm-journey-list-item>
            </li>
        </ul>
    </div>
</div>
<div class="row panel">
    <div class="container">
        <h2 class="text-center">Following</h2>
        <ul class="list-group">
            <li data-ng-repeat="journey in alias.followedJourneys" data-ng-if="journey.isPublic" class="list-group-item">
                <data-jm-journey-list-item data-jm-journey="{{journey}}"></data-jm-journey-list-item>
            </li>
        </ul>
    </div>
</div>