@import (reference, optional) "/app/_style/vars/colour.less";

//This line is only a hint for IDEs to support LESS variable navigation
.jm-auth-bar {
    background-color: #eEeeFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.jm-auth-info {
    display: inline;
    padding-left: 5px;
}