<nav class="navbar navbar-fixed-top jm-auth-bar">
    <div class="container-fluid" data-jm-global-error="errors">
        <ul class="nav navbar-nav pull-left">
            <li><a data-ui-sref="HOME"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a data-ui-sref="BROWSE"><span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
        <div class="collapse navbar-collapse navbar-left">

            <form role="search" class="nav navbar-form navbar-left">
                <div class="form-group">
                    <div class="input-group ">
                        <input data-ng-model="quickSearch" type="text" placeholder="Search" class="form-control">
                        <a data-ui-sref="BROWSE({search: quickSearch})" class=" input-group-btn">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <div data-is-open="status.isopen" class="nav navbar-form navbar-right pull-right">
            <div data-jm-logged-in-show="true">
                <span class="hidden-xs">
                    <button data-jm-journey-edit class="btn btn-primary"> + New Journey</button>
                </span>
                <a data-ui-sref="DASHBOARD({aliasId: alias.id})">
                    <img data-ng-src="{{alias.thumbUrl}}" width="40" height="40" class="img-circle"/>
                </a>

                <div class="jm-auth-info" data-dropdown>
                    <button type="button" data-dropdown-toggle class="btn btn-xs btn-default">
                        <span class="caret"></span>
                    </button>
                    <ul role="menu" data-aria-labelledby="split-button" class="dropdown-menu">
                        <li role="menuitem" data-ng-bind="alias.name"></li>
                        <li role="menuitem">
                            <a data-ui-sref="DASHBOARD({aliasId: alias.id})">View Dashboard</a>
                        </li>
                        <li role="menuitem">
                            <a data-ui-sref="ALIAS_UPDATE">Edit Profile</a>
                        </li>
                        <li role="menuitem">
                            <a href="" data-ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-jm-logged-in-show="false">
                <button class="btn btn-primary" data-jm-login>LOGIN</button>
                <button class="btn" data-jm-register>Register</button>
            </div>

        </div>
    </div>
</nav>