<div class="modal-header">
    <h2 class="text-center">Select one of your journeys to link</h2>
</div>
<div class="modal-body">
    <select data-ng-options="journey.name for journey in alias.journeys" data-ng-model="selectedJourney" class="form-control">
    </select>
</div>
<div class="modal-footer">
    <button data-ng-click="select()" data-ng-disabled="!selectedJourney" class="btn btn-primary"> Select Journey </button>
    <button data-ng-click="cancel()" class="btn btn-danger"> Cancel </button>
</div>