<div class="jm-moment-slides">
    <ul class="list-inline jm-moment-mood">
        <li>#happy</li>
        <li>#excited</li>
    </ul>
    <div class="col-sm-12">
        <span data-ng-if="!moment.isPublic" class="pull-left text-danger">
       <span class="fa fa-lock"></span> Psst - this moment is private.
        <!--<a data-ng-if="moment.isAlias" data-ui-sref="MOMENT_UPDATE({journeyId: moment.journey._id, momentId:moment._id})">Change to make it publicly accessable.</a>-->
        <span data-ng-if="!moment.isAlias">Please think twice before sharing it.</span>
        </span>
        <span class="pull-right">{{moment.created | date:'medium'}}</span>
        <p class="text-center">{{moment.descript}}</p>
        <button data-ui-sref="MOMENT_EDIT({journeyId: moment.journey._id, momentId:moment._id})" data-ng-if="moment.isAlias" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </div>
</div>
<!--<div data-ng-if="!moment.isPublic && !moment.isAlias" class="col-sm-12 panel">
    <h2 class="text-center">We're so sorry, but ...</h2>
    <p class="text-center">... this moment is private. :(</p>
</div>-->