.jm-categories {
    width: 100%;
    padding: 0px 20px;
    margin: 0;
}

.jm-categories button {
    height: 100%;
    width: 20px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px transparent;
    box-shadow: none;
    background-image: none;
}

.jm-categories {
    button:hover,
    button:active,
    button:visited,
    button:focus {
        background-color: rgba(0, 0, 0, 0.2);
    }
}