<div class="panel row">

    <h2 class="jm-header">Reset forgotten password</h2>

    <form name="resetPwdForm" data-ng-submit="$ctrl.submit(newPassword)" novalidate role="form"
          class="jm-container form-horizontal">
        <h4 class="text-center">Please enter your new password and confirm the entered password.</h4>

        <div class="well">
            <div class="form-group">
                <label class="col-sm-3">New password</label>

                <div class="col-sm-7">
                    <input data-ng-model="newPassword" required name="newPassword" type="password"
                           data-ng-disabled="$ctrl.submitted" data-jm-equal-to-direct="confirmPassword"
                           class="form-control" placeholder="New password"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Confirm password</label>

                <div class="col-sm-7">
                    <input data-ng-model="confirmPassword" required name="confirmPassword" type="password"
                           data-ng-disabled="$ctrl.submitted" class="form-control"
                           placeholder="Confirm password"/>
                </div>
            </div>
            <div data-ng-if="resetPwdForm.newPassword.$touched" data-ng-messages="resetPwdForm.newPassword.$error">
                <div data-ng-message="required" class="alert alert-danger">Please enter your new password.</div>
                <div data-ng-message="equalTo" class="alert alert-danger">Please confirm with the same password.</div>
            </div>
            <button type="submit" data-ng-disabled="resetPwdForm.newPassword.$invalid || $ctrl.submitted"
                    class="btn btn-primary">Submit
            </button>
        </div>
    </form>
    <p data-ng-if="$ctrl.submitted" class="alert alert-success">Your password has been reset.</p>
</div>