@import (reference, optional) "/src/_style/vars/colour.less"; //This line is only a hint for IDEs to support LESS variable navigation
body {
    background-color: #CCCCCC;
    padding-top: 70px;
}

.panel {
    padding-bottom: 10px;
    border: none;
}

.jm-section {
    background-color: @brand-colour;
}