<div class="form-group">
    <div data-ng-show="!blink.imageFiles[id]" data-ngf-select data-ngf-drop name="imageFile{{id}}" required data-ng-model="blink.imageFiles[id]" accept="image/*" data-ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" data-ngf-max-size="1MB" data-ng-class="size" class="jm-blink-img-upload ng-pristine ng-valid">
        <span class="jm-img-uplodad-text">Select or Drop File</span>
    </div>

    <div data-ng-show="!blink.imageFiles[id] && blink.images[id]">
        <a data-ng-click="deleteImage()" class="btn btn-default jm-blink-img-btn">X</a>
        <img data-ng-src="data:image/png;base64, {{blink.images[id]}}" class="jm-blink-img" />
    </div>
    <div data-ng-show="blink.imageFiles[id]" style="background: red">
        <a href="" data-ng-click="deleteImageFile()" class="btn btn-default jm-blink-img-btn">X</a>
        <img data-ngf-src="blink.imageFiles[id]" class="jm-blink-img">
    </div>
</div>