<div class="form-group">
    <div data-ng-show="!formBlink.imageFiles[id] && !formBlink.blink.images[id]"
         name="imageFile{{id}}" required data-ng-model="formBlink.imageFiles[id]"
         accept="image/*"
         data-ngf-select
         data-ngf-drop
         data-ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
         data-ngf-max-size="2MB"
         data-ng-class="size"
         class="jm-blink-img-upload ng-pristine ng-valid">
        <span class="jm-img-uplodad-text">Select or Drop File</span>
    </div>

    <div data-ng-show="!formBlink.imageFiles[id] && formBlink.blink.images[id]">
        <a data-ng-click="deleteImage()" class="btn btn-danger jm-blink-img-btn">X</a>
        <img data-ng-src="{{formBlink.blink.imageUrls[id]}}" class="jm-blink-img"/>
    </div>
    <div data-ng-show="formBlink.imageFiles[id]">
        <a href="" data-ng-click="deleteImageFile()" class="btn btn-danger jm-blink-img-btn">X</a>
        <img data-ngf-src="formBlink.imageFiles[id]" class="jm-blink-img">
    </div>
    <span data-ng-show="formBlink.imageFiles[id].size>=2000000"
          class="alert alert-danger" style="clear:both;">Your image is too big (max 2MB).</span>
</div>