<div class="modal-header">
    <div data-ng-switch="hasJourney">
        <h3 data-ng-switch-when="true" class="modal-title">Edit Your Journey</h3>

        <h3 data-ng-switch-default class="modal-title">Create a New Journey</h3>
    </div>
</div>
<form name="journeyForm" data-ng-submit="save()" novalidate class="form-horizontal" role="form">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2">Name</label>

            <div class="col-sm-10">
                <input type="text" name="name" data-ng-model="journey.name" required
                       placeholder="E.G 'Loose Weight' or 'Go Fishing'" class="form-control"/>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="col-sm-2">Description</label>

            <div class="col-sm-10">
                <textarea name="descript" data-ng-model="journey.descript" class="form-control"
                          placeholder="What is your journey about?"></textarea>
            </div>
        </div>
        <!--<hr/>
        <div class="form-group">
            <label class="control-label col-sm-6">Is your journey bound to a specific location?</label>

            <div class="btn-group col-sm-6">
                <label class="btn btn-default" data-ng-model="journey.hasLocation" btn-radio="false"
                       uncheckable>No</label>
                <label class="btn btn-default" data-ng-model="journey.hasLocation" btn-radio="true"
                       uncheckable>Yes</label>
            </div>
        </div>
        <div class="form-group">
            <div collapse="!journey.hasLocation">
                <label class="control-label col-sm-6">Where is your journey taking place?</label>

                <div class="col-sm-6">
                    <input type="text" name="name" data-ng-model="journey.location"
                           placeholder="E.G 'Vienna' or 'Alaska'" class="form-control"/>
                </div>
            </div>
        </div>-->
        <hr/>
        <div class="form-group">
            <label class="col-sm-2">Categories</label>

            <div class="input-group col-sm-10">
                <input type="text"
                       ng-model="selectedCategory"
                       typeahead="category as category.name for category in missingCategories | filter:{name:$viewValue}"
                       typeahead-on-select="selectCategory($item)"
                       data-typeahead-editable="false"
                       placeholder="E.G. 'Music' or 'Travel'"
                       class="form-control"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                </span>
            </div>
            <ul class="dropdown-menu jm-state-dropdown" role="menu">
                <li ng-repeat="category in missingCategories">
                    <a href="" ng-click="selectCategory(category)">{{category.name}}</a>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <jm-category-ratio can-edit="true" category-weights="journey.categoryWeights"
                               on-delete-category="deleteCategory(categoryWeight)"></jm-category-ratio>
        </div>
        <div data-ng-show="journey.categoryWeights.length > 0" class="form-group">
            <label class="col-sm-2">Tags</label>

            <div class="input-group col-sm-10">
                <input type="text" data-ng-model="selectedTopic"
                       data-typeahead="topic.tag as topic.tag for topic in topics | filter: {tag: $viewValue}"
                       data-typeahead-select-on-exact="true"
                       data-typeahead-on-select="selectTopic($item)"
                       placeholder="E.G. " class="form-control"/>
                <span class="input-group-btn">
                    <button data-ng-disabled="!selectedTopic" data-ng-click="createTopic(selectedTopic)" type="button"
                            class="btn btn-primary">
                        +
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <ul class="list-inline jm-topic-list col-sm-10 col-sm-offset-1">
                <li data-ng-repeat="topic in journey.topics">
                    <span>{{topic}}</span>
                    <a href="" data-ng-click="removeTopic(topic)">X</a>
                </li>
            </ul>
        </div>
        <hr/>
        <div class="form-group">
            <label class="col-sm-5">Who can join your journey?</label>

            <div class="btn-group col-sm-7">
                <label class="btn btn-default" data-ng-model="journey.join" btn-radio="0" uncheckable>Everyone</label>
                <label class="btn btn-default" data-ng-model="journey.join" btn-radio="1" uncheckable>Only With
                    Invite</label>
                <label class="btn btn-default" data-ng-model="journey.join" btn-radio="2" uncheckable>No-one</label>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="col-sm-5">Your journey is</label>

            <div class="btn-group col-sm-7">
                <label class="btn btn-default" data-ng-model="journey.isPublic" btn-radio="true"
                       uncheckable>Public</label>
                <label class="btn btn-default" data-ng-model="journey.isPublic" btn-radio="false"
                       uncheckable>Private</label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <span data-ng-switch="hasJourney">
            <button data-ng-switch-when="true" data-ng-disabled="journeyForm.$invalid" type="submit"
                    class="btn btn-primary">Save Changes
            </button>
            <button data-ng-switch-default data-ng-disabled="journeyForm.$invalid" type="submit"
                    class="btn btn-primary">Create Journey
            </button>
        </span>
        <button class="btn btn-warning" type="button" data-ng-click="cancel()">Cancel</button>
    </div>
</form>