<form name="aliasForm" data-ng-submit="saveChanges()" novalidate role="form">
    <div class="row jm-alias-pic-container">
        <div class="col-sm-4">
            <div data-ng-show="!file && alias.image">
                <img data-ng-src="{{alias.imageUrl}}" class="jm-profile-img"/>
            </div>
            <div data-ng-show="file">
                <img data-ngf-src="file" class="jm-img-preview">
                <!--<button class="btn btn-primary" ngf-select="upload($file)">Upload Profile Picture</button>-->
            </div>
        </div>
        <div class="col-sm-4">
            <div data-ngf-select data-ngf-drop data-ng-model="file" accept="image/*"
                 data-ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                 data-ngf-max-size="1MB" class="jm-drop-box ng-pristine ng-valid">
                <span>Select or Drop File</span>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <label>Name</label>
    <input type="text" name="name" data-ng-model="alias.name" required class="form-control"/>
    <button class="btn btn-primary">Save Changes</button>
</form>