<div class="jm-banner-panel">
    <div class="jm-header">
        <h1 class="text-center">Welcome to JournMe</h1>
        <h5 class="text-center">Join Us On a Journey</h5>
    </div>
    <h2 class="text-center text-success"><span>{{$ctrl.stats.allJourneys}} Journeys Created</span></h2>

    <h2 class="text-center text-danger">{{$ctrl.stats.allMoments}} Moments Shared</h2>

    <h2 class="text-center text-muted">{{$ctrl.stats.allFeedbacks}} Empathy Shown</h2>

    <!--<h2 class="text-center text-info">{{$ctrl.stats.allLinks}} Experiences Linked</h2>-->

    <!--<h2 class="text-center text-danger">{{$ctrl.stats.allJoined}} Goals Joined</h2>-->

    <!--<h2 class="text-center text-muted">{{$ctrl.stats.allFollowers}} Progress Watched</h2>-->
</div>
<div class="jm-container">
    <div class="col-sm-6 col-xs-12">
        <div class="panel">
            <div class="jm-header">
                <h3>New Journeys</h3>

                <div class="clear"></div>
            </div>
            <ul class="list-group jm-container">
                <jm-journey-list-item data-ng-repeat="journey in $ctrl.recentJourneys.content"
                                      jm-journey="journey"></jm-journey-list-item>
            </ul>
            <span class="r-span">
                <a data-ui-sref="BROWSE()">&rarr; More Journeys</a>
            </span>

            <div class="clear"></div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="panel text-center">
            <div class="jm-header">
                <h3>New Moments</h3>

                <div class="clear"></div>
            </div>
            <ul class="list-inline jm-container">
                <li data-ng-repeat="moment in $ctrl.recentMoments.content">
                    <jm-moment-list-item jm-moment="moment"></jm-moment-list-item>
                </li>
            </ul>
            <div data-ng-if="$ctrl.recentMoments.content.length === 0">
                No moments yet. ;_;
            </div>
        </div>
    </div>
</div>