<div class="row panel">
    <div class="container">
        <h2>Edit Your Moment</h2>
        <form name="momentForm" data-ng-submit="save()" novalidate>
            <div class="form-group">
                <label>Description</label>
                <textarea name="descript" data-ng-model="moment.descript" class="form-control" placeholder="Tell us how your moment was!"></textarea>
            </div>

            <div class="form-group btn-group">
                <label class="btn btn-default" data-ng-model="moment.isPublic" btn-radio="true" uncheckable>Public</label>
                <label class="btn btn-default" data-ng-model="moment.isPublic" btn-radio="false" uncheckable>Private</label>
            </div>
            <div class="form-group">
                <span data-ng-switch="hasMoment">
                    <button data-ng-switch-when="true" ng-disabled="momentForm.$invalid" type="submit" class="btn btn-primary">Save Changes</button>
                    <button data-ng-switch-default ng-disabled="momentForm.$invalid" type="submit" class="btn btn-primary">Create Moment</button>
                </span>
                <button class="btn btn-warning" type="button" data-ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>