<div class="row panel">
    <div class="container">
        <h2 data-ng-if="hasMoment">Edit Your Moment</h2>

        <h2 data-ng-if="!hasMoment">Create a New Moment</h2>

        <form name="momentForm" data-ng-submit="save()" novalidate>
            <!--<div class="form-group">
                <label>Description</label>
                <textarea name="descript" data-ng-model="moment.descript" class="form-control" placeholder="Tell us how your moment was!"></textarea>
            </div>-->

            <div class="form-group btn-group">
                <label class="btn btn-default" data-ng-model="moment.isPublic" btn-radio="true"
                       uncheckable>Public</label>
                <label class="btn btn-default" data-ng-model="moment.isPublic" btn-radio="false"
                       uncheckable>Private</label>
            </div>
            <div class="form-group">
                <button data-ng-if="hasMoment"
                        data-ng-disabled="momentForm.$invalid" type="submit"
                        class="btn btn-primary">
                    Save Moment
                </button>
                <button data-ng-if="hasMoment" class="btn btn-warning" type="button" data-ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </form>

    </div>
</div>
<div class="row panel">
    <div class="container">
        <!--<div ng-switch="editBlink"> ng-switch-when="true"-->
        <form name="blinkForm" data-ng-show="canEditBlink" data-ng-submit="saveBlink()" novalidate>
            <h3>Create a New Blink</h3>
            <ul class="nav nav-pills">
                <!--<li ng-class="{'active' : formBlink.format === format}" data-ng-repeat="format in formats">
                        <a href="" data-ng-click="selectFormat(format)">
                            <span class="glyphicon glyphicon-align-justify"></span>
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </li>-->
                <li ng-class="{'active' : formBlink.blink.format === 0}">
                    <a href="" data-ng-click="selectFormat(0)">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </li>
                <li ng-class="{'active' : formBlink.blink.format === 1}">
                    <a href="" data-ng-click="selectFormat(1)">
                        <span class="glyphicon glyphicon-picture"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </li>
                <li ng-class="{'active' : formBlink.blink.format === 2}">
                    <a href="" data-ng-click="selectFormat(2)">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </li>
                <li ng-class="{'active' : formBlink.blink.format === 3}">
                    <a href="" data-ng-click="selectFormat(3)">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </li>
                <li ng-class="{'active' : formBlink.blink.format === 4}">
                    <a href="" data-ng-click="selectFormat(4)">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>
                <li ng-class="{'active' : formBlink.blink.format === 5}">
                    <a href="" data-ng-click="selectFormat(5)">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </li>
                <li ng-class="{'active' : formBlink.blink.format === 6}">
                    <a href="" data-ng-click="selectFormat(6)">
                        <span class="glyphicon glyphicon-picture"></span>
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </li>
            </ul>
            <!-- NOTE: Unfortunately this does not work since the value for 'format' is set later when the templateUrl
             function has already run
            <jm-blink-format data-ng-repeat="format in formats" format="{{format}}" blink="formBlink" ng-switch-when="format"></jm-blink-format>-->
            <div data-ng-switch="formBlink.blink.format">

                <jm-blink-format blink="formBlink" ng-switch-when="1"></jm-blink-format>
                <jm-blink-format blink="formBlink" ng-switch-when="2"></jm-blink-format>
                <jm-blink-format blink="formBlink" ng-switch-when="3"></jm-blink-format>
                <jm-blink-format blink="formBlink" ng-switch-when="4"></jm-blink-format>
                <jm-blink-format blink="formBlink" ng-switch-when="5"></jm-blink-format>
                <jm-blink-format blink="formBlink" ng-switch-when="6"></jm-blink-format>
                <jm-blink-format blink="formBlink" ng-switch-default></jm-blink-format>
            </div>
            <button data-ng-if="hasMoment" data-ng-disabled="!isBlinkValid()" type="submit" class="btn btn-primary">
                Save Blink
            </button>
            <button data-ng-if="!hasMoment" data-ng-disabled="!isBlinkValid()" type="submit" class="btn btn-primary">
                Create Moment
            </button>
            <button data-ng-click="cancelBlink()" type="button"
                    class="btn btn-warning">Cancel
            </button>
        </form>
        <div data-ng-if="!canEditBlink">
            <div class="jm-blink-new">
                <button data-ng-click="createNewBlink()" class="btn btn-success">+ Blink</button>
                <button data-ng-click="editBlink()" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
            <jm-blink-carousel moment="moment" index="selectedIndex" can-edit="true"></jm-blink-carousel>
        </div>
    </div>
</div>