<div class="row panel">
    <div class="container">
        <a href="" data-ng-if="hasMoment" class="pull-right" type="button" data-ng-click="cancel()">
            &rarr; Back to Your Journey {{journey.name}}
        </a>

        <h2 data-ng-if="hasMoment">Edit Your Moment</h2>

        <h2 data-ng-if="!hasMoment">Create a New Moment</h2>

        <form name="momentForm" data-ng-submit="save()" novalidate>
            <!--<div class="form-group">
                <label>Description</label>
                <textarea name="descript" data-ng-model="moment.descript" class="form-control" placeholder="Tell us how your moment was!"></textarea>
            </div>-->
            <div class="form-group row">
                <label class="col-sm-2">Title</label>

                <div class="col-sm-10">
                    <input type="text" name="title" data-ng-model="moment.title" required
                           placeholder="E.G 'Greatness Achieved'" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group btn-group col-sm-4">
                    <label class="btn btn-default" data-ng-model="moment.isPublic" btn-radio="true"
                           uncheckable>Public</label>
                    <label class="btn btn-default" data-ng-model="moment.isPublic" btn-radio="false"
                           uncheckable>Private</label>
                </div>
                <div class="form-group col-sm-4">
                    <p class="input-group">
                        <input type="date" data-datepicker-popup data-ng-model="moment.date"
                               is-open="isDateOpen" ng-required="true"
                               class="form-control" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <button data-ng-if="hasMoment"
                        data-ng-disabled="momentForm.$invalid" type="submit"
                        class="btn btn-primary">
                    Save Moment
                </button>
                <button data-ng-if="hasMoment" class="btn btn-warning" type="button" data-ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </form>

    </div>
</div>
<div class="row panel">
    <div class="container">
        <!--<div ng-switch="editBlink"> ng-switch-when="true"-->
        <div data-ng-show="canEditBlink">
            <h3 data-ng-if="isNewBlink">Create a New Blink</h3>

            <h3 data-ng-if="!isNewBlink">Edit Your Blink</h3>
            <jm-state-list can-edit="true"
                           states="formBlink.blink.stateRefs"
                           on-state-selected="removeState(state)"></jm-state-list>
            <div>
                <jm-state-select states="missingStates"
                                 types="0,1"
                                 on-state-selected="selectState(state)"
                                 class="jm-need-input"></jm-state-select>
                <jm-state-select states="missingStates"
                                 types="2"
                                 on-state-selected="selectState(state)"></jm-state-select>
            </div>
            <div data-ng-if="formBlink.blink.stateRefs.length > 0">
                <jm-state-select states="missingStates"
                                 types="3"
                                 on-state-selected="selectState(state)"
                                 class="jm-need-input"></jm-state-select>
                <jm-state-select states="missingStates"
                                 types="4"
                                 on-state-selected="selectState(state)"></jm-state-select>
            </div>
            <ul class="nav nav-pills">
                <!--<li ng-class="{'active' : formBlink.format === format}" data-ng-repeat="format in formats">
                        <a href="" data-ng-click="selectFormat(format)">
                            <span class="glyphicon glyphicon-align-justify"></span>
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </li>-->
                <li ng-class="{'active' : formBlink.blink.format === 0}">
                    <a href="" data-ng-click="selectFormat(0)">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </li>
                <li ng-class="{'active' : formBlink.blink.format === 1}">
                    <a href="" data-ng-click="selectFormat(1)">
                        <span class="glyphicon glyphicon-picture"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </li>
                <li ng-class="{'active' : formBlink.blink.format === 2}">
                    <a href="" data-ng-click="selectFormat(2)">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </li>
                <li ng-class="{'active' : formBlink.blink.format === 3}">
                    <a href="" data-ng-click="selectFormat(3)">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </li>
                <li ng-class="{'active' : formBlink.blink.format === 4}">
                    <a href="" data-ng-click="selectFormat(4)">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>
                <li ng-class="{'active' : formBlink.blink.format === 5}">
                    <a href="" data-ng-click="selectFormat(5)">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </li>
                <li ng-class="{'active' : formBlink.blink.format === 6}">
                    <a href="" data-ng-click="selectFormat(6)">
                        <span class="glyphicon glyphicon-picture"></span>
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </li>
            </ul>
            <form name="blinkForm" data-ng-submit="saveBlink()" novalidate>
                <!-- NOTE: Unfortunately this does not work since the value for 'format' is set later when the templateUrl
                 function has already run
                <jm-blink-format data-ng-repeat="format in formats" format="{{format}}" blink="formBlink" ng-switch-when="format"></jm-blink-format>-->
                <div data-ng-switch="formBlink.blink.format">
                    <jm-blink-format blink="formBlink" ng-switch-when="1"></jm-blink-format>
                    <jm-blink-format blink="formBlink" ng-switch-when="2"></jm-blink-format>
                    <jm-blink-format blink="formBlink" ng-switch-when="3"></jm-blink-format>
                    <jm-blink-format blink="formBlink" ng-switch-when="4"></jm-blink-format>
                    <jm-blink-format blink="formBlink" ng-switch-when="5"></jm-blink-format>
                    <jm-blink-format blink="formBlink" ng-switch-when="6"></jm-blink-format>
                    <jm-blink-format blink="formBlink" ng-switch-default></jm-blink-format>
                </div>
                <jm-local-error errors="errors"></jm-local-error>
                <button data-ng-if="hasMoment" data-ng-disabled="!isBlinkValid()" type="submit" class="btn btn-primary">
                    Save Blink
                </button>
                <button data-ng-if="!hasMoment" data-ng-disabled="!isBlinkValid()" type="submit"
                        class="btn btn-primary">
                    Create Moment
                </button>
                <button data-ng-click="cancelBlink()" type="button"
                        class="btn btn-warning">Cancel
                </button>
            </form>
        </div>
        <div data-ng-if="!canEditBlink">
            <div class="jm-blink-new">
                <button data-ng-click="createNewBlink()" class="btn btn-success">+ Blink</button>
                <button data-ng-click="editBlink()" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
            <jm-blink-carousel moment="moment" index="selectedIndex" can-edit="true"></jm-blink-carousel>
        </div>
    </div>
</div>