<div class="row panel">
    <h1 class="text-center">Welcome {{alias.name}}</h1>
</div>
<div class="row panel">
    <div class="container">
        <h2 class="text-center">Your Journeys</h2>
        <ul class="list-group">
            <li data-ng-repeat="journey in alias.journeys" class="list-group-item">
                <data-jm-journey-list-item data-jm-journey="{{journey}}"></data-jm-journey-list-item>
            </li>
        </ul>
        <button data-jm-journey-edit class="btn btn-primary"> + New Journey</button>
    </div>
</div>
<div class="row panel">
    <div class="container">
        <h2 class="text-center">You're following</h2>
        <ul class="list-group">
            <li data-ng-repeat="journey in alias.followedJourneys" class="list-group-item">
                <data-jm-journey-list-item data-jm-journey="{{journey}}"></data-jm-journey-list-item>
            </li>
        </ul>
    </div>
</div>