<div class="row panel">
    <div class="col-xs-12 jm-journey-header">
        <h1 class="text-center">{{journey.name}} by {{journey.alias.name}}</h1>
        <p class="text-center">{{journey.descript}}</p>
        <hr></hr>
        <div class="row container text-center text-muted">
            <div class="col-xs-3"></div>
            <div class="col-xs-2">
                <a href="" class="jm-journey-a">
                    <div>
                        {{journey.linkedJourneys.length}}
                        <!--<span class="glyphicon glyphicon-user"></span>-->
                    </div>
                    Linked Journeys
                </a>
            </div>
            <div class="col-xs-2">
                <a href="" data-jm-journey-followers="{{journey}}" class="jm-journey-a">
                    <div>
                        {{journey.followers.length}}
                        <!--<span class="glyphicon glyphicon-user"></span>-->
                    </div>
                    Follower
                </a>
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-4">
                <button data-jm-link-journey="{{alias.journeys}}" data-ng-show="!journey.isUser" popover-placement="top" popover-trigger="mouseenter" popover="Link your journey" class="btn btn-primary">
                    <span class="glyphicon glyphicon-link"></span>
                </button>
                <button data-ng-click="followJourney()" data-ng-show="!journey.isUser && !journey.isFollowing" popover-placement="top" popover-trigger="mouseenter" popover="Follow Journey" class="btn btn-primary">
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                    Follow Journey
                </button>
                <button data-ng-click="unfollowJourney()" data-ng-show="!journey.isUser && journey.isFollowing" popover-placement="top" popover-trigger="mouseenter" popover="Unfollow Journey" class="btn btn-danger">
                    <!--<span class="glyphicon glyphicon-minus"></span>-->
                    Unfollow Journey
                </button>
                <button data-jm-journey-edit="{{journey._id}}" data-ng-show="journey.isUser" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <h3 class="text-center">All Moments</h3>
        <ul class="list-inline well">
            <li data-ng-repeat="moment in journey.moments">
                <a data-ui-sref="MOMENT_DETAIL({momentId: moment._id})" popover-placement="top" popover-trigger="mouseenter" popover="{{moment.created | date:'medium'}}">
                    <img src="" width="40" height="40" class="img-rounded" />
                </a>
            </li>
            <li>
                <a data-ui-sref="MOMENT_CREATE({journeyId: journey._id})" popover-placement="top" popover-trigger="mouseenter" popover="Add a new moment to your journey!" class="btn btn-primary">+</a>
            </li>
        </ul>
    </div>
</div>
<div class="row panel" style="">
    <div ui-view class="col-sm-12"></div>
</div>
<div class="row panel" style="">
    <h2 class="text-center">Linked Journeys</h2>
    <div class="col-sm-12"></div>
</div>