<div class="row panel">
    <div class="col-xs-12 jm-journey-header">
        <h1 class="text-center">{{journey.name}} by {{journey.alias.name}}</h1>
        <p class="text-center">{{journey.descript}}</p>
        <hr></hr>
        <div class="row container text-center">
            <div class="col-xs-2"></div>
            <div class="col-xs-2">
                <a href="" data-jm-journey-link-requests="{{journey}}" data-is-from="true" data-is-to="true" popover-placement="top" popover-trigger="mouseenter" popover="{{journey.linkedToJourneys.length + journey.linkedFromJourneys.length}} Open Link Requests" class="jm-journey-a">
                    <div>
                        {{journey.linkedToJourneys.length + journey.linkedFromJourneys.length}}
                        <!--<span class="glyphicon glyphicon-user"></span>-->
                    </div>
                    Link Requests
                </a>
            </div>
            <div class="col-xs-2">
                <a href="" popover-placement="top" popover-trigger="mouseenter" popover="{{journey.joinedLinkedJourneys.length}} Mutually Linked Journey" class="jm-journey-a">

                    <div>
                        {{journey.joinedLinkedJourneys.length}}
                        <!--<span class="glyphicon glyphicon-link"></span>-->
                    </div>
                    Linked Journeys
                </a>
            </div>
            <div class="col-xs-2">
                <a href="" data-jm-journey-followers="{{journey}}" class="jm-journey-a">
                    <div>
                        {{journey.followers.length}}
                        <!--<span class="glyphicon glyphicon-user"></span>-->
                    </div>
                    Follower
                </a>
            </div>
            <div class="col-xs-4">
                <div data-ng-show="journey.isUser">
                    <button data-jm-journey-edit="{{journey}}" class="btn btn-default pull-right">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <div class="text-center">
                        <div class="jm-journey-info">Open Link Requests</div>
                        <!--<button data-jm-journey-link-requests="{{journey}}" popover-placement="top" popover-trigger="mouseenter" popover="Your Requests" class="btn btn-primary">
                            {{journey.linkedToJourneys.length}}
                        </button>-->
                        <button data-jm-journey-link-requests="{{journey}}" data-is-from="true" popover-placement="top" popover-trigger="mouseenter" popover="Other Journeys Requesting" class="btn btn-danger">
                            {{journey.linkedFromJourneys.length}}
                        </button>
                    </div>
                </div>
                <div data-ng-show="!journey.isUser">
                    <!-- LINK -->
                    <button data-jm-link-journey="{{alias.journeys}}" popover-placement="top" popover-trigger="mouseenter" popover="Link your journey" class="btn btn-primary">
                        <span class="glyphicon glyphicon-link"></span>
                    </button>
                    <div class="jm-journey-info" data-ng-show="journey.isUser">

                    </div>
                    <!-- FOLLOW -->
                    <button data-ng-click="followJourney()" data-ng-show="!journey.isFollowing" popover-placement="top" popover-trigger="mouseenter" popover="Follow Journey" class="btn btn-primary">
                        <!--<span class="glyphicon glyphicon-plus"></span>-->
                        Follow Journey
                    </button>
                    <!-- UNFOLLOW -->
                    <button data-ng-click="unfollowJourney()" data-ng-show="journey.isFollowing" popover-placement="top" popover-trigger="mouseenter" popover="Unfollow Journey" class="btn btn-danger">
                        <!--<span class="glyphicon glyphicon-minus"></span>-->
                        Unfollow Journey
                    </button>
                </div>
            </div>
        </div>
    </div>
    <data-jm-journey-timeline data-journey-id="journey._id" data-is-selected="true"></data-jm-journey-timeline>
</div>

<div ui-view class="row"></div>

<div data-ng-show="journey.joinedLinkedJourneys.length > 0" class="row panel">
    <div class="col-sm-12">
        <h2 class="text-center">Linked Journeys</h2>
        <ul class="list-group">
            <li data-ng-repeat="journey in journey.joinedLinkedJourneys" class="list-group-item clearfix">
                <data-jm-journey-list-item data-jm-journey="{{journey}}"></data-jm-journey-list-item>
                <button data-ng-click="setSelected(journey)" data-ng-show="isNotSelected(journey._id)" class="btn btn-default pull-right">
                    <span class="caret"></span>
                </button>
                <button data-ng-click="setSelected(journey)" data-ng-hide="isNotSelected(journey._id)" class="btn btn-default dropup pull-right">
                    <span class="caret"></span>
                </button>
                <div data-collapse="isNotSelected(journey._id)">
                    <data-jm-journey-timeline data-journey-id="journey._id" data-is-selected="false"></data-jm-journey-timeline>
                </div>
            </li>
        </ul>
    </div>
</div>